<!DOCTYPE html>
<html>
<style>
    .box1 {
        padding: 0.5em 1em;
        margin: 2em 0;
        background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px, #e9f4ff 3px, #e9f4ff 7px);
        background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px, #e9f4ff 3px, #e9f4ff 7px);
    }

    .box1 p {
        margin: 0;
        padding: 0;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>Lunchmap</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <nav class='navbar navbar-expand-md navbar-dark bg-dark fixed-top'>
        <a class='navbar-brand' href='{% url "lunchmap:index" %}'>idea-box</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>